@import "../mixins/mixins";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$rem-size: 16px;
:root {
  --rem-size: 16px;
  /* ======= BODY PROPERTIES ====== */
  --body-font: "Open Sans", sans-serif;
  --body-bg-clr: #fff;
  --heading-clr: #444;
  --text-clr: ;

  /* ========= TRANSITION ========= */
  --transition-fast: all 0.2s linear;
  --transition: all 0.3s linear;
  --section-padding: 8rem;
  --header-height: 7rem;

  /* ========= FONT WEIGHT ======== */
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;
  --fw-extrabold: 900;
  /* ============= FONT ============ */
  --fz-normal: 14px;
  --fz-small: 13px;
  --fz-smaller: 12px;

  /* ====== FONT MEDIA QUERY ====== */

  @include media(xl) {
    --fz-normal: 15px;
    --fz-small: 14px;
    --fz-smaller: 13px;
  }

  @include media(xxl) {
    --fz-normal: 16px;
    --fz-small: 15px;
    --fz-smaller: 14px;
  }
}
