// Media queries
$screen-sizes: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media($size, $type: min) {
  $width: map-get($screen-sizes, $size);
  @if $width != null {

    @if $type ==max {
      $width: $width - 1;
    }

    @media (#{$type}-width : $width) {
      @content;
    }
  }
}

@mixin media-between($min, $max) {
  $min: map-get($screen-sizes, $min);
  $max: map-get($screen-sizes, $max);
  @if  $min != null and $max !=null {

    @media (min-width: $min) and (max-width: ($max - 1)) {
      @content;
    }
  }
}