@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $fg: nth($color, 1);
  $bg: if(length($color) ==2, nth($color, 2), transparent);

  @if ($direction ==up) or
    ($direction ==down) or
    ($direction ==right) or
    ($direction ==left)
  {
    // $width: $width / 2;
    // $height: if(length($size) > 1, $height, $height/2);

    @if ($direction ==up) {
      border-bottom: $height solid $fg;
      border-left: $width solid $bg;
      border-right: $width solid $bg;
    } @else if ($direction ==right) {
      border-bottom: $width solid $bg;
      border-left: $height solid $fg;
      border-top: $width solid $bg;
    } @else if $direction ==down {
      border-left: $width solid $bg;
      border-right: $width solid $bg;
      border-top: $height solid $fg;
    } @else if $direction ==left {
      border-bottom: $width solid $bg;
      border-right: $height solid $fg;
      border-top: $width solid $bg;
    }
  } @else if ($direction ==up-right) or ($direction ==up-left) {
    border-top: $height solid $fg;

    @if $direction ==up-right {
      border-left: $width solid $bg;
    } @else if $direction ==up-left {
      border-right: $width solid $bg;
    }
  } @else if ($direction ==down-right) or ($direction ==down-left) {
    border-bottom: $height solid $fg;

    @if $direction ==down-right {
      border-left: $width solid $bg;
    } @else if $direction ==down-left {
      border-right: $width solid $bg;
    }
  } @else if ($direction ==inset-up) {
    border-color: $bg $bg $fg;
    border-style: solid;
    border-width: $height $width;
  } @else if ($direction ==inset-down) {
    border-color: $fg $bg $bg;
    border-style: solid;
    border-width: $height $width;
  } @else if ($direction ==inset-right) {
    border-color: $bg $bg $bg $fg;
    border-style: solid;
    border-width: $width $height;
  } @else if ($direction ==inset-left) {
    border-color: $bg $fg $bg $bg;
  }
}
