@mixin background-fill($initial, $hover, $inverted: false) {
  background: linear-gradient(90deg, $hover 50%, $initial 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;

  @if $inverted {
    background-position: left bottom;
  }

  &:hover {
    background-position: left bottom;

    @if $inverted {
      background-position: right bottom;
    }
  }
}
