@mixin directions($args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number
    {
      #{$o}: nth($args, $i + 1);
    }
  }
}

@mixin position($p: absolute, $args) {
  position: if($p !=i, $p, null);

  @include directions($args);
}

// Positioning helpers
@mixin absolute($args: "") {
  position: absolute;
  @include directions($args);
}

@mixin fixed($args: "") {
  position: fixed;
  @include directions($args);
}

@mixin relative($args: "") {
  position: relative;
  @include directions($args);
}
// transform  center
@mixin center-vertically($p : absolute, $args: top 50%) {
  @include prefix(
    (
      transform: translateY(-50%),
    )
  );
  @include position($p, $args);
}
@mixin center-horizontaly($p: absolute, $args: left 50%) {
  @include prefix(
    (
      transform: translateX(-50%),
    )
  );
  @include position($p, $args);
}
@mixin center($p: absolute, $args: top 50% left 50%) {
  @include prefix(
    (
      transform: translate(-50%, -50%),
    )
  );
  @include position($p, $args);
}
