@use "vars" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  block-size: 100%;
  inline-size: 100%;
  //------->
  font-size: var(--rem-size);
  outline: none;
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--body-bg-clr);
  position: relative;
  font-family: var(--body-font);
  transition: all 0.1s linear;
  color: var(--text-clr);
  line-height: 1.5;
  overflow-x: hidden;
  font-weight: normal;
  letter-spacing: 0.9px;
}
